.header {
  background-color: var(--headbg-color);
  border: 1px solid var(--border-header);
}

.logo-link {
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}

.accent-logo {
  color: var(--accent-color);
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--another-color);
  transition: color var(--transition-hover);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.current {
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.nav-link.current {
  color: var(--accent-color);
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}

.contact-list {
  display: flex;
  margin-left: auto;
}

.contact-list .link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-list .contact-item + .contact-item {
  margin-left: 50px;
}

.contact-link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--subtitle-color);
  fill: var(--subtitle-color);
  transition: color var(--transition-hover);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.icon-contact {
  transition: fill var(--transition-hover);
  margin-right: 10px;
}

.contact-link:hover .icon-contact,
.contact-link:focus .icon-contact {
  fill: var(--accent-color);
}
